<%= render 'shared/page_title', title: "Our organizers" %>
<p>
  Download:
  <%= link_to "CSV", users_path(format: "csv"), class: "btn btn-primary" %> |
  <%= link_to "Excel", users_path(format: "xls"), class: "btn btn-primary" %>
</p>
<%= render partial: "users/index", locals: {users: @users} %>