<div class="l-pad-vert-3 js-user-profile user-profile__header">
  <section>
    <div class="js-user-profile-display l-align-center">
      <h2 class="text-heading-primary l-mar-top-2">
          <span class="is-hidden-accessible">Edit Profile</span>
          <%= current_user.try(:name) %>
      </h2>
    </div>
  </section>
</div>
<div class="l-pad-bot-3">
  <div class="js-order-list-container js-d-tabs" dorsal-guid="327dd1eb-ba1d-6b03-3167-a6f853a365bd" data-xd-wired="tabs">
    <div id="tickets_tabse">
      <%= render partial: "tickets_tabs", locals: {all_tickets_count: @all_tickets_count, upcomming_tickets_count: @upcomming_tickets_count, saved_tickets_count: @saved_tickets_count, past_tickets_count: @past_tickets_count, inactive_tickets_count: @inactive_tickets_count} %>
    </div>
    <div id="ticket_article">      
      <%= render partial: "tickets", locals: {tickets: @tickets} %>
    </div>
  </div>
</div>


<style type="text/css">
  .tabs-header.tabs-header__grid-3 .tabs-header-list li {
    width: 20.000% !important;
}
</style>