<div id="tab_up3">
  <header id="myCarousel2" style="height:100%;" class="carousel slide">
    <div class="carousel-inner">
      <%= render partial: "multiple_graph", locals: {events: events} %>
    </div>
  </header>
</div>