<div id="tab_up3">
  <header id="myCarouse2" style="height:100%;" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= render partial: "graph", locals: {event: events.first} %>
      </div>
      <%= render partial: "multiple_graph", locals: {events: events} %>
    </div>
  </header>
</div>