<% if events.present? %>
  <% events.each_with_index do |event, index| %>
    <% if index == "0" %><div class="item active"><% else %> <div class="item"><% end %> 
      dslkldsjkodxsj dsohk dskh dskjh dkjsd sjkag 
    </div>
  <% end %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl8KUzAOcfadtLw7_wkJ_NyoD5vDz3_74&callback=initMap">
  </script>
<% end %>