<% if events.present? %>
	<% events[1..-2].each_with_index do |event, index| %>
	  <div class="item">
	    <img src = "https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%= event.latitude %>,<%= event.longitude %>
	&fov=90&heading=235&pitch=10
	&key=AIzaSyDk_1trU7te1evmY8eqaWAtBdkvJ1Sxtxc" style="width:100%; height:350px !important;">
	  </div>
	<% end %>
<% end %>