<div class="well">
  <div class="row">
    <div class="col-xs-10">
      <h4><%= schedule.title.try(:titleize) %></h4>
      <p><%= schedule.description.present? ? schedule.description : "No description available for this schedule" %></p>
      <div class="row">
        <div class="col-md-3"><b><h5>Start Date</h5></b></div><div class="col-md-3"><%= schedule.start_date  rescue Time.now %></div>
        <div class="col-md-3"><b><h5>End Date</h5></b></div><div class="col-md-3"><%= schedule.end_date  rescue Time.now %></div>        
      </div>
    </div>
  </div>
</div>