<% if tickets.present? %>
	<h3 style="text-align:center">tickets for Event <b><%= @event.name %></b></h3>
	    <% tickets.each do |ticket| %>
	      <%= render "ticket_row", ticket: ticket, order_item: @order_item, :event => @event %>
	    <% end %>
<% else %>
	<h3 style="text-align:center">There are no tickets for Event <b><%= @event.name %></h3>
<% end %>