  <!-- Preloader -->
  <div id="page-preloader">
    <div class="loader-ring"></div>
    <div class="loader-ring2"></div>
  </div>
  <!-- End Preloader -->  
  <!-- Wrapper -->
  <div class="wrapper">    
    <div id="page-property-content">
      <div class="wide_container_3 carousel-full-width slider-kit">
        <div class="tabs">
          <div class="tab-content" id="tab-content_up">
            <%= render partial: "picture_container", locals: { events_pictures: @events_pictures} %>
          </div>
          <ul class="tab-links col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
            <li class="col-xs-4 event-index-tab"><a id="left-carosusel" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
            <li class="active col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel");$("#right-carosusel").attr("href", "#myCarousel");tabRequest(4);'><span style="" class="glyphicon glyphicon-camera glf-icon"></span>Photo</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href","#myCarousel1");$("#right-carosusel").attr("href", "#myCarousel1");tabRequest(5);' ><span class="glyphicon glyphicon-facetime-video glf-icon"></span>Videos</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" class="map4" onclick='$("#left-carosusel").attr("href", "#myCarousel2");$("#right-carosusel").attr("href", "#myCarousel2");tabRequest(6);'><span class="glyphicon glyphicon-map-marker glf-icon"></span>Map</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel3");$("#right-carosusel").attr("href", "#myCarousel3");tabRequest(7);' ><span class="glyphicon glyphicon-road glf-icon"></span>Street View</a></li>

            <li class="col-xs-4"><a id="right-carosusel" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="page-content-search">
      <div class="container">
        <div class="wide_container_2">
          <form>
            <div class="tabs">
              <header class="col-md-8 col-xs-12 no-pad">
                <div class="location-map col-sm-4 col-xs-4">
                  <div class="input-group inner-addon left-addon">
                    <!-- <input id="pac-input" class="controls" type="text"
                        placeholder="Enter a location"> -->
                    <!-- <div id="type-selector" class="controls">
                      <input type="radio" name="type" id="changetype-all" checked="checked">
                      <label for="changetype-all">All</label>

                      <input type="radio" name="type" id="changetype-establishment">
                      <label for="changetype-establishment">Establishments</label>

                      <input type="radio" name="type" id="changetype-address">
                      <label for="changetype-address">Addresses</label>

                      <input type="radio" name="type" id="changetype-geocode">
                      <label for="changetype-geocode">Geocodes</label>
                    </div> -->
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <input type="text" placeholder="Manhattan, New York" style="padding: 10px !important;" name="address" id="pac-input" class="form-control" autocomplete="off">
                  </div>
                </div>
                <div class="select-block col-sm-2 col-xs-2">
                  <select class="selection selectized" tabindex="-1" style="display: none;"><option selected="selected" value="Beds"></option></select><div class="selectize-control selection single"><div class="selectize-input items full has-options has-items"><div class="item" data-value="Beds">Beds</div><input type="text" autocomplete="off" tabindex="" style="width: 4px; opacity: 0; position: absolute; left: -10000px;" readonly="readonly"></div><div class="selectize-dropdown selection single" style="display: none; visibility: visible; width: 142px; top: 48px; left: 0px;"><div class="selectize-dropdown-content"><div class="option" data-selectable="" data-value="1">1</div><div class="option" data-selectable="" data-value="2">2</div><div class="option" data-selectable="" data-value="3">3</div><div class="option selected" data-selectable="" data-value="Beds">Beds</div></div></div></div>
                </div>
                <div class="select-block col-sm-2 col-xs-2 ">
                  <select class="selection selectized" tabindex="-1" style="display: none;"><option selected="selected" value="Type"></option></select><div class="selectize-control selection single"><div class="selectize-input items full has-options has-items"><div class="item" data-value="Type">Type</div><input type="text" autocomplete="off" tabindex="" style="width: 4px; opacity: 0; position: absolute; left: -10000px;" readonly="readonly"></div><div class="selectize-dropdown selection single" style="display: none; visibility: visible; width: 142px; top: 48px; left: 0px;"><div class="selectize-dropdown-content"><div class="option" data-selectable="" data-value="For Rent">For Rent</div><div class="option" data-selectable="" data-value="For Sale">For Sale</div><div class="option selected" data-selectable="" data-value="Type">Type</div></div></div></div>
                </div>
                <div class="select-block col-md-3 col-xs-4 last">
                  <a id="toggle-link" class="options-button">More Filters</a>
                </div>
                <div style="display: none;" id="hidden_content" class="options-overlay col-md-offset-4 col-sm-offset-5 col-sm-7">
                  <div class="row">
                    <div class="col-xs-6 top-mrg">
                      <div class="internal-container features">
                        <div class="form-group">
                          <label>Minimum Square Footage:</label>
                          <input type="text" placeholder="Enter an Amount" class="form-control">
                        </div>
                        <label>Building Features:</label>
                        <section class="block">
                          <section>
                            <ul class="submit-features">
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Elevator</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Gym</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Pool</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Lorem Ipsum</label></div></li>
                            </ul>
                          </section>
                        </section>
                      </div>
                    </div>
                    <div class="col-xs-6 top-mrg">
                      <div class="internal-container features">
                        <label>Property Features:</label>
                        <section class="block">
                          <section>
                            <ul class="submit-features">
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Air conditioning</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Balcony</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Garage Internet</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Dishwasher</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Washer Mashine</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>Some Lorem Ipsum</label></div></li>
                            </ul>
                          </section>
                        </section>
                      </div>
                    </div>
                  </div>
                </div><!-- options-overlay -->
              </header>
              <ul class="tab-links col-md-4 col-xs-12">
                <li class="col-lg-3 col-lg-offset-2 col-md-4 col-xs-4 no-pad active"><a href="javascript:void(0)" onclick="tabRequest(1);" class="map2"><span class="glyphicon glyphicon-map-marker glf-icon"></span>Map</a></li>
                <li class="col-lg-3 col-md-4 col-xs-4 no-pad"><a href="javascript:void(0)" onclick="tabRequest(2);"><span class="glyphicon glyphicon-th-large glf-icon"></span>Grig</a></li>
                <li class="col-lg-3 col-md-4 col-xs-4 bdr-rgh no-pad"><a href="javascript:void(0)" onclick="tabRequest(3);"><span class="glyphicon glyphicon-th-list glf-icon"></span>List</a></li>
              </ul>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="form-inline">
                      <label class="top-indent">Distance:</label>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <div class="form-group">
                      <div class="price-range price-range-wrapper">
                        <!-- <input class="price-input" type="text" name="price" value="0;5000000"> -->
                        <input type="range" min="10" max="1000" step="10" value="300" data-orientation="vertical" default horizontal>
                      </div>
                    </div>
                  </div>
                </div><!-- row -->
                <div class="row">
                  <div class="explore col-xs-12">
                    <h2>Properties for rent</h2>
                    <h5 class="team-color col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been the industry's standard </h5>
                  </div>
                </div><!-- row -->
              </div>  <!-- explore_grid -->
              <!-- tab-links -->
              <div class="tab-content" id="tab-content">
                
                <%= render partial: "map", locals: {events: @events} %>
                <%#= render "grid" %>
                <%#= render "list" %>
                
                
              </div><!-- tab-content -->
            </div><!-- tabs -->
            <div class="col-xs-12">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <nav class="site-navigation paging-navigation navbar">
                  <div class="nav-previous"><a href="#">PREV PAGE</a></div>
                  <ul class="pagination pagination-lg">
                    <li><a href="#">1</a></li>
                    <li><span class="active">2</span></li>
                    <li><a href="#">3</a></li>
                    <li><span class="nav-dots">...</span></li>
                    <li><a href="#">5</a></li>
                  </ul>
                  <div class="nav-next"><a href="#">NEXT PAGE</a></div>
                </nav>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- end Page Content -->
  </div>
  <!-- Modal -->
  <div class="modal fade share" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share with Friends</h4>
        </div>
        <div class="modal-body">
            <a class="btn btn-social-icon btn-twitter">
              <span class="fa fa-twitter"></span>
            </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <script>
    // coordinates for current location
    var _latitude = 40.717857;
    var _longitude = -73.995042;
    createHomepageGoogleMap(_latitude,_longitude);
  </script>
<script type="text/javascript">
  $('input[type="range"]').rangeslider({});


</script>

<style>
.slider-kit .col-xs-4
{
  width:16.5% !important;
}

.col-lg-offset-4 {
    margin-left:0 !important;
}
.col-lg-4 {
    width: 100%;
    padding:10px;
}
.glf-icon
{
  padding:0px 15px !important;
}

.owl-theme .owl-controls {
    background: white none repeat scroll 0 0;
    margin-top: -25px;
    text-align: center;
    z-index: 9999999;
}
</style>

<script type="text/javascript">
  function tabRequest(id){
    $.ajax({
      type:'GET',
      url: '/events/tabs',
      dataType: 'script',
      data: $.param({ tab: id})
    });
  };

</script>