// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;


@import "bootstrap-sprockets";
@import "bootstrap";

.badge-notify{
   background:red;
   position:relative;
   top: -13px;
   left: -35px;
}

input,select{border-radius:0px !important;margin-left:-2px !important}
.div-search-left {margin-left:5px;margin-top:10px;padding-bottom:5px;}
.div-search-right {margin-right:-5px;margin-top:-10px;}
.li-text{margin-top:10px;}
.li-button{margin-top:10px;}
.li-button1{margin-top:-5px; }
.li-button2{margin-top:10px;}
#span1{margin-top:5px;}
// #logo {
//     margin-top: 10px;
//     margin-bottom: 10px;
//     float: left;
//     margin-right: 10px;
//     font-size: 2em;
//     color: #fff;
//     text-transform: uppercase;
//     letter-spacing: -1px;
//     padding-top: 9px;
//     font-weight: bold;
// }

// #logo:hover {
//     color: white;
//     text-decoration: none;
// }

// body {
//     padding-top: 80px;
// }

// .nav_item {
//     margin-left: 25px;
//     float: left;
//     margin-top: 20px;
    
// }

.navbar {
 margin-bottom: 0;
}
.center {
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    // margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: noraml;
    color: #777;
}

.left {
    text-align: left;
    letter-spacing: .5px;
}

.footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.chef_info {
    margin-top: 10px;
}
.gravatar {
    // border-radius: 10px;
    max-width: 100px;
    
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

input, textarea, select, .uneditable-input {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    
    
}

.input_checkbox input {
    width: auto !important;
}

input {
    height: auto !important;
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}

.show_recipe {
    margin: 10px 10px 10px 10px;
    
}

.quiet {
    color: #777;
}



.panel-profile-img {
  margin: -70px auto 5px auto;
}

.panel-profile-recipe-img {
    
    margin: -40px 330px auto auto;
   
}

.panel-profile .panel-heading {
    height: 150px;
    
background: rgba(51, 51, 51, 0.26) url(https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9bd244971b9cb52a8418cf2f66fce464);
  background-blend-mode: multiply;  
  background-size: cover;
  
}
.panel-recipe {
    background: rgba(51, 51, 51, 0.26);
   height: 100%;
    width: 100%;

}


.panel-profile .panel-title {
    margin-bottom: 5px;
    font-size: 17px;
    color: inherit;
        margin-bottom: 5px;
}

// @media (min-width: 300px) and (max-width: 600px)  { 

// .carousel-caption {

//     margin-bottom: 50px;

// }
// }


.chef-text-showpage {
    font-size: 3em;
    /* letter-spacing: -2px; */
    margin-bottom: 30px;
    text-align: center;
    margin-top: 5px;

}


.thumbs {
    float: right !important;
    margin-top: -180px;
  
}

.white {
    
color: white;
}




// ================== RECIPE SHOW PAGE ==========================
@media (min-width: 700px) {
    .img-responsive {
        position: relative; 
    
    height: 500px;
    // border-radius: 10px;
    background: rgba(51, 51, 51, 0.26);
    }
    
.show-page-text {
       position: relative;
    right: 20%;
    bottom: 200px;
    z-index: 10;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
} 

.show-page-text2 {
    position: relative;
        right: 15%;
    bottom: 200px;
    z-index: 10;
    /* padding-bottom: 20px; */
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
} 
.show-page-detail-text{
    margin-top: -100px;
}
.user-avatar {
    margin-top: -115px;
        padding-right: 200px;
}


}

/*======================homepage slideshow===========================*/

@media only screen and (max-width: 500px) {

    .carousel-inner > .item > img {
    height: 250px;
    }
}




/*======================Category Home Page CSS===========================*/

.category-card {
    position: relative;
    display: block;
    width: 100%;
    }
.category-card .category-card__wrapper {
    overflow: hidden;
    position: relative;
}
.category-card .category-card__image {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .35s;
    -moz-transition: -moz-transform .35s;
    transition: transform .35s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 220px;
    background-color: #ededed;
}
@media only screen and (max-width:479px) {
    .category-card .category-card__image {
    height: 150px;
}
}.category-card .category-card__text-wrapper {
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .35s;
    -moz-transition: -moz-transform .35s;
    transition: transform .35s;
    width: 100%;
    text-align: center;
}
.category-card .category-card__tint {
    height: auto;
    border-radius: 3px;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000);
}
.category-card .category-card__desc {
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity .7s, -webkit-transform .35s;
    -moz-transition: opacity .7s, -webkit-transform .35s;
    transition: opacity .7s, -webkit-transform .35s;
}
.category-card:hover .category-card__image, .category-card:focus .category-card__image, .category-card:active .category-card__image {
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
    transform: scale(1.12);
}
.category-card:hover .category-card__tint:after, .category-card:focus .category-card__tint:after, .category-card:active .category-card__tint:after {
    opacity: .3;
    background-color: #051C48;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: 3px;
}
.category-card:hover .category-card__text-wrapper, .category-card:focus .category-card__text-wrapper, .category-card:active .category-card__text-wrapper {
    -webkit-transform: translate3d(0, -25%, 0);
    -moz-transform: translate3d(0, -25%, 0);
    -ms-transform: translate3d(0, -25%, 0);
    -o-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}
.category-card:hover .category-card__desc, .category-card:focus .category-card__desc, .category-card:active .category-card__desc {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
}


.g-cell, .tooltip {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
	letter-spacing: .5px;
	box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
	padding-top: 15px;
    padding-bottom: 15px;
}


.text-heading--emphasized {
    color: #fff;
}
.text-body--significant, .text-significant {
    font-weight: 700;
}

.text-large {
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
}
.l-padded-h-2 {
    padding-left: 20px;
    padding-right: 20px;
}


.text-heading--emphasized {
    color: #fff;
}

.l-block-2 {
    margin-top: 10px;
}
.home-category > h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 15px;
}

.category-card.category-music .category-card__image {
    background-image: url("../img/categories/img_category_music.jpg");
}
.category-card.category-food .category-card__image {
    /* background-image: url('../img/categories/img_category_food.jpg'); */
}


.margin-bottom-30{ margin-bottom: 30px;  margin-top: 20px; }


@media (max-width: 768px){
.margin-bottom-30{margin-bottom: 0px;}
/* .col-xs-12{margin-bottom:30px;} */
}


/*======================Category Home Page CSS Ends Here===========================*/







.category-card.category-family-education .category-card__image {

background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/3/doctype-hi-res.jpg?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1253&h=841&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;


}
.category-card.category-food .category-card__image {
    
    background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9bd244971b9cb52a8418cf2f66fce464");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;
}
.category-card.category-community .category-card__image {
  
    background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/photo-1444212568492-d2799d30943b?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1253&h=833&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;
}

.category-card.category-business .category-card__image {
   
    background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/photo-1449247666642-264389f5f5b1?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1253&h=837&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;
}


.category-card.category-health .category-card__image {
background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/photo-1463415268136-e52a5af54519?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1253&h=835&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;


}

.category-card.category-charity-causes .category-card__image {
background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/uploads/1412443967017d95e2723/2919e13b?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1253&h=835&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;

}

.category-card.category-sports-fitness .category-card__image {
background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/photo-1431068799455-80bae0caf685?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1253&h=835&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;


}


.category-card.category-science-technology .category-card__image {

background: rgba(51, 51, 51, 0.26) url("https://images.unsplash.com/photo-1413708617479-50918bc877eb?format=auto&auto=compress&dpr=2&crop=entropy&fit=crop&w=1253&h=833&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 5px;


}
.category-card.category-spirituality .category-card__image {
background: rgba(51, 51, 51, 0.26) url("../img/categories/img_category_spirituality.jpg");
    background-blend-mode: multiply;
    background-size: cover;
margin-bottom: 5px;



}
.category-card.category-socail-awareness .category-card__image {

background: rgba(51, 51, 51, 0.26) url("../img/categories/img_category_socail-awareness.png");
    background-blend-mode: multiply;
    background-size: cover;
margin-bottom: 5px;
}
.nav > li > a{padding: 10px 13px;}
