.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.892000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.878906;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,0.250000,-0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-10.236109px;}
._0{margin-left:-4.440000px;}
._4{margin-left:-2.736000px;}
._1{margin-left:-1.440000px;}
._2{width:1.659910px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(166,166,166);}
.fs1{font-size:32.000000px;}
.fs3{font-size:38.812000px;}
.fs0{font-size:40.000000px;}
.fs5{font-size:45.647600px;}
.fs2{font-size:48.000000px;}
.fs6{font-size:84.000000px;}
.fs4{font-size:92.217200px;}
.fs7{font-size:104.000000px;}
.y0{bottom:36.000000px;}
.y9{bottom:38.030000px;}
.y8{bottom:49.030000px;}
.y7{bottom:65.520000px;}
.y18{bottom:422.470000px;}
.y16{bottom:438.360000px;}
.y13{bottom:509.148100px;}
.y3{bottom:521.360000px;}
.y14{bottom:548.120000px;}
.y5{bottom:560.220000px;}
.y12{bottom:577.600000px;}
.ye{bottom:583.645000px;}
.y15{bottom:585.410000px;}
.y11{bottom:589.600000px;}
.yd{bottom:595.645000px;}
.y6{bottom:600.938000px;}
.y10{bottom:601.600000px;}
.yc{bottom:607.645000px;}
.yf{bottom:613.600000px;}
.y4{bottom:639.290000px;}
.y2{bottom:639.540000px;}
.yb{bottom:655.901400px;}
.y19{bottom:663.795000px;}
.ya{bottom:678.955700px;}
.y17{bottom:696.069000px;}
.y1{bottom:707.590000px;}
.h3{height:23.392000px;}
.h5{height:26.430972px;}
.h6{height:27.240000px;}
.h2{height:29.240000px;}
.h9{height:33.368396px;}
.h4{height:34.176000px;}
.h8{height:35.088000px;}
.h7{height:67.410773px;}
.ha{height:73.828125px;}
.hb{height:91.406250px;}
.h1{height:686.000000px;}
.h0{height:792.000000px;}
.w1{width:532.500000px;}
.w0{width:612.000000px;}
.x0{left:40.000000px;}
.x15{left:53.690000px;}
.x13{left:65.390000px;}
.x1{left:103.710000px;}
.x9{left:114.264000px;}
.xa{left:116.472000px;}
.xb{left:140.700000px;}
.x11{left:168.700000px;}
.x7{left:178.984100px;}
.x10{left:282.756000px;}
.x2{left:288.620000px;}
.xd{left:310.410000px;}
.x8{left:333.102100px;}
.xe{left:370.650000px;}
.x5{left:412.084300px;}
.xc{left:414.018000px;}
.x14{left:426.740000px;}
.x4{left:439.008000px;}
.xf{left:442.446000px;}
.x3{left:478.000000px;}
.x6{left:482.800000px;}
.x12{left:492.736000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-13.648146pt;}
._0{margin-left:-5.920000pt;}
._4{margin-left:-3.648000pt;}
._1{margin-left:-1.920000pt;}
._2{width:2.213213pt;}
.fs1{font-size:42.666667pt;}
.fs3{font-size:51.749333pt;}
.fs0{font-size:53.333333pt;}
.fs5{font-size:60.863467pt;}
.fs2{font-size:64.000000pt;}
.fs6{font-size:112.000000pt;}
.fs4{font-size:122.956267pt;}
.fs7{font-size:138.666667pt;}
.y0{bottom:48.000000pt;}
.y9{bottom:50.706667pt;}
.y8{bottom:65.373333pt;}
.y7{bottom:87.360000pt;}
.y18{bottom:563.293333pt;}
.y16{bottom:584.480000pt;}
.y13{bottom:678.864133pt;}
.y3{bottom:695.146667pt;}
.y14{bottom:730.826667pt;}
.y5{bottom:746.960000pt;}
.y12{bottom:770.133333pt;}
.ye{bottom:778.193333pt;}
.y15{bottom:780.546667pt;}
.y11{bottom:786.133333pt;}
.yd{bottom:794.193333pt;}
.y6{bottom:801.250667pt;}
.y10{bottom:802.133333pt;}
.yc{bottom:810.193333pt;}
.yf{bottom:818.133333pt;}
.y4{bottom:852.386667pt;}
.y2{bottom:852.720000pt;}
.yb{bottom:874.535200pt;}
.y19{bottom:885.060000pt;}
.ya{bottom:905.274267pt;}
.y17{bottom:928.092000pt;}
.y1{bottom:943.453333pt;}
.h3{height:31.189333pt;}
.h5{height:35.241296pt;}
.h6{height:36.320000pt;}
.h2{height:38.986667pt;}
.h9{height:44.491194pt;}
.h4{height:45.568000pt;}
.h8{height:46.784000pt;}
.h7{height:89.881031pt;}
.ha{height:98.437500pt;}
.hb{height:121.875000pt;}
.h1{height:914.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:710.000000pt;}
.w0{width:816.000000pt;}
.x0{left:53.333333pt;}
.x15{left:71.586667pt;}
.x13{left:87.186667pt;}
.x1{left:138.280000pt;}
.x9{left:152.352000pt;}
.xa{left:155.296000pt;}
.xb{left:187.600000pt;}
.x11{left:224.933333pt;}
.x7{left:238.645467pt;}
.x10{left:377.008000pt;}
.x2{left:384.826667pt;}
.xd{left:413.880000pt;}
.x8{left:444.136133pt;}
.xe{left:494.200000pt;}
.x5{left:549.445733pt;}
.xc{left:552.024000pt;}
.x14{left:568.986667pt;}
.x4{left:585.344000pt;}
.xf{left:589.928000pt;}
.x3{left:637.333333pt;}
.x6{left:643.733333pt;}
.x12{left:656.981333pt;}
}
